$background-color_1: #29b6f6;
$background-color_2: #e50914;

.userbtn {
	border: none;
	border-radius: 20px;
	background-color: $background-color_1;
	transition: 1.5s;
    color: #fff !important;
	&:hover {
		background-color: $background-color_2;
	}
}



.movieImg {
	img {
		width: 200px !important;
		height: 170px !important;
		border-radius: 20px;
	}
}
.movieElem {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.MovieBtn {
	flex-direction: column;
}
