$background-color_1: #131722;

/* charts */
/* new users */
.main-admin  {
    background-color: #131722;
    direction: ltr;
	height: 100vh;
}


.NewUsers::-webkit-scrollbar{
    display: none;
}
.MediaBox {
	border-radius: 20px;
	width: 249px;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	h5 {
		margin: 0.25rem;
        direction: ltr;
	}
    h2 {
        direction: ltr;
    }
    h6 {
        direction: ltr;
    }
}
.dashboardPage {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	max-height: 100vh;
	div {
		border-radius: 20px;
	}
}
.dashboard-box {
	padding-top: 0.5rem;
	padding: 1rem;
	margin-top: 0.5rem;
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
}
.sidebarShowBtn {
	display: none;
	justify-content: flex-end;
	align-items: center;
}
.MediasNums {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.myChart {
	width: 100% !important;
	height: 5% !important;
}
.medias-chart {
	border-radius: 20px;
}
.userEnters {
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin: 1rem;
}
.dashboard-footer {
	margin-top: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-admin {
	display: flex;
}
.NewUsers {
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}
.NewUsersList {
	width: 100%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	hr {
		margin-bottom: 1rem;
		margin-top: 0.5rem;
		width: 100%;
		height: 2px;
		border: 1px solid #29b6f6;
	}
}
.userProfile {
	padding: 0.5rem;
	border: 2px dashed #29b6f6;
	border-radius: 50px;
}
.newUser {
	border-radius: 20px;
	&:hover {
		background-color: $background-color_1;
        color: #fff;

	}
}
.custom-box-shadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (min-width: 768px) {
	.NewUsersList {
		padding: 3rem;
	}
}
@media (min-width: 1200px) {
	.NewUsersList {
		padding: 3rem;
	}
}
@media (min-width: 992px) {
	.NewUsersList {
		padding: 3rem;
	}
}
@media (min-width: 1400px) {
	.NewUsersList {
		padding: 3rem;
	}
}
