$color_1: #fff;
$color_2: #555;
$color_3: #666;
$color_4: #29B6F6;
$background-color_1: #fff;
$background-color_2: rgba(0,0,0,.5);
$background-color_3: #29B6F6;


.main-single {
	.movies-body {
		.main-side-item.single-lists {
			.user-list-listed {
				width: 100%;
				display: flex;
				margin-top: 10px;
				.list-item {
					width: calc(20% - 15px);
					margin: 0 7.5px;
					background-color: $background-color_1;
					border-radius: 20px;
					box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
					overflow: hidden;
					padding: 10px;
					.thumbs {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						.picture {
							width: calc(50% - 7.5px);
							height: 125px;
							overflow: hidden;
							margin-bottom: 15px;
							border-radius: 20px;
							position: relative;
							img {
								width: 100%;
								height: 100%;
								display: block;
							}
							.cover {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								right: 0;
								display: flex;
								align-items: center;
								justify-content: center;
								background-color: $background-color_2;
								color: $color_1;
								.count {
									border-radius: 50%;
									width: 50px;
									height: 50px;
									overflow: hidden;
									display: inline-flex;
									align-items: center;
									justify-content: center;
									border: 1px solid rgba(255,255,255,.4);
									div {
										position: relative;
										top: 3px;
										font-size: 15px;
										font-weight: 500;
										direction: ltr;
										text-align: left;
									}
								}
							}
							&:last-child {
								img {
									filter: blur(3px);
								}
							}
						}
					}
					.title {
						.list-title {
							font-size: 16px;
							font-weight: 600;
							width: 100%;
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: $color_2;
							margin-top: 5px;
						}
					}
					.bottom-content {
						width: 100%;
						display: flex;
						justify-content: space-between;
						border-top: 1px solid rgba(0,0,0,.1);
						padding-top: 12px;
						margin-top: 5px;
						color: $color_3;
						.creator {
							font-size: 13px;
							display: inline-block;
							i {
								margin-left: 5px;
							}
						}
						.date {
							font-weight: 300;
							font-size: 13px;
							direction: ltr;
							text-align: left;
						}
					}
				}
			}
		}
	}
}

.main-single {
	.movies-body {
		.main-side-item {
			>.title {
				display: flex;
				align-items: center;
				width: 100%;
				i {
					margin-left: 7px;
					color: $color_4;
					font-size: 18px;
					margin-top: -9px;
				}
				span {
					font-weight: 300;
					color: $color_4;
					font-size: 20px;
				}
				.seprator {
					flex: 1;
					height: 1px;
					background-color: $background-color_3;
					margin-right: 20px;
				}
			}
		}
	}
}
